body {

background-color: saddlebrown;

}

h1 {

color: #008080;

text-align: center;

font-style: italic;

font-size: 80px;

}

p {

font-family: Pokemon;

font-size: 40px;

font-weight: bold;

text-align: center;

}
